/*
Colors used:
Primary Color (White): #FAFAFA;
Secondary Color (Green): #5A7F7D;
*/
header {
  background-color: #ebebeb;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 3px 5px 0px rgba(44, 50, 50, 0.59);
  position: relative;
  /* Adds a 10px inner spacing to all sides */
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  /* Adds a 10px outer spacing to all sides */
  border-bottom: 3px solid #aaaaaa
}

main {
  padding-top: 99px;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}



#hero {
  background-color: #ebebeb;
  text-align: center;
  padding: 20px 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#RenZenHeader {
  background-color: #ebebeb;
  text-align: left;
  padding: 20px 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}


#RenZentopics {
  text-align: left;
  padding: 20px 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#contact-about {
  text-align: left;
  padding: 20px 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

#hero span {
  display: block;
}

.logo {
  max-width: 250px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 5px;
  text-transform: Titlecase;
  font-weight: 700;
  color: #5a7f7d;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: #476268;
  text-decoration: none;
  font-weight: 700;
}

nav>ul>li>a:hover {
  color: #4F7072;
  text-decoration: none;
}

nav>ul>li>a:active {
  color: #4EAAA4;
  text-decoration: none;
  font-weight: 700;
}

.container {
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #545454;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

* {
  box-sizing: border-box;
  /* Actual width of container changes to 100px (20px padding and 4px borders) as opposed to 124px */
}

body {
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font size */
  color: #545454
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.25em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #5a7f7d;
  font-weight: 400;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #1da89d;
  font-weight: 400;
  text-decoration: underline;

  /* Underlining when hovering over a link */
  a:visited {
    /* visited link */
    color: #80bfb9;
  }
}

a:active {
  /* selected link */
  color: #09bf49;
}

a:hover,
a:focus {
  color: #1da89d;
  text-decoration: underline;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #5a7f7d;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #3D5653;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  color: #ffffff;
  /* Reduces the opacity of the button to 80% */
}

.button:active {
  /* selected button */
  color: #5a7f7d;
}

.button.contact {
  background-color: transparent;
  color: #5a7f7d;
  text-transform: uppercase;
  border: 2px solid #5a7f7d;
}

.button.contact:hover {
  background-color: #5a7f7d;
  color: #ffffff;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    position: relative;
  }

  nav {
    width: auto;
    margin: 20px;
    float: right
  }

  .aboutnav {
    width: auto;
    margin: 5px;
    float: right
  }

  .col-md-6 {
    width: 50%;
  }
}

.col-7 {
  width: 58.33%;
}

.col-5 {
  width: 41.66%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#heading H1 {
  text-align: center;
  font-size: 2.75em;
  font-weight: 700;
}

#intropagehead H2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.25em;
  font-weight: 500;

}


#about-page h3 {
  margin-top: 0;
}

#contact-about h2 {
  margin-top: 0;
}

elementstyle {
  clear: both;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}


  td {
  text-align: center;
  vertical-align: middle;
}

#about img {
  width: 220px;
}

.circular-square{
  border-radius: 50%;
  position:relative;
  top: 50px;
  bottom:10px;
  float:inherit;
}
